@media screen and (max-width: 750px) {
  .single-wrap {
    width: auto !important;
    color: #fff !important;
    padding: 20px !important;
    margin: 40px 0 !important;
    background-color: transparent !important;
  }
  .collect-upload {
    width: 210px !important;
    .upload-text {
      line-height: 1.8;
      font-size: 12px !important;
    }
  }
  .form-item input {
    outline: none;
    color: #fff;
    border-bottom: 1px solid #fff !important;
  }
}

.single-wrap {
  width: 500px;
  margin: 80px auto;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  color: $globalBackground;
  .collect-close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .collection-title {
    font-size: 20px;
    font-weight: bold;
  }
  .collection-headline {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
  }
  .form-list {
    width: 100%;

    .file-selector {
      width: 100%;
      display: flex;
      flex: 0 0 auto;
      .upload-file {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid $inputTip;
        background: url('~@/assets/imgs/collect-avatar.png') center no-repeat;
        background-size: cover;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }
      .collect-upload {
        width: 260px;
        margin-left: 20px;
        font-size: 14px;
        .upload-text {
          margin-bottom: 20px;
        }
      }
    }

    .form-item {
      margin-top: 48px;
      font-size: 10px;

      .label {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
      }

      .wallet-input {
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid $menuColor;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 5px;
        font-size: 12px;
        background-color: transparent;
      }
    }
  }
  .wallet-create-btn {
    width: 100%;
    border-radius: 20px;
    background-color: $fontIconBtn;
    margin-top: 60px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
  }
}

.bold600 {
  font-weight: bold;
}
.opa05 {
  opacity: 0.5;
}
