@media screen and (max-width: 750px) {
  .about-token {
    width: 90% !important;
  }
  .about-title {
    font-size: 14px !important;
  }
  .headline {
    font-size: 12px !important;
  }
  .icons-title {
    font-size: 14px !important;
  }
  .get-info {
    font-size: 12px !important;
    margin-bottom: 40px !important;
  }
  .step-img-wrap {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 12px;
  }
  .step-icons .step-item img {
    width: 30px !important;
    height: 30px !important;
  }
}

.icons-title {
  padding: 60px 0 40px;
  font-size: 30px;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.get-info {
  font-size: 16px;
  text-align: center;
  margin-bottom: 60px;
}
.step-icons {
  display: flex;
  justify-content: space-between;
  .step-item {
    text-align: center;
    .step-img-wrap {
      width: 70px;
      height: 70px;
      line-height: 70px;
      margin: auto;
      border-radius: 50%;
      border: 1px solid $inputTip;
      background: $fontIconBtn;
    }
    .desc {
      max-width: 120px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

.about-token {
  width: 800px;
  margin: auto;
  color: #fff;
  .about-token-topimg {
    width: 70px;
    display: block;
    margin: 20px auto 0;
  }
  .about-title {
    color: #246CF6;
    padding: 10px 0 10px;
  }
  
  .about-title,
  .headline {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
}
